<div>
    {{!-- Las vistas que tengan los usuarios con role 'user' --}}
    {{#if user}}
        <h1>Tu perfil</h1>
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.age}}</p>
        <h2>Todos los productos en los carritos:</h2>
            {{#if allProducts.length}}
                <ul>
                    {{#each allProducts}}
                        <li>
                            {{this.product.title}} - Cantidad: {{this.quantity}}
                        </li>
                    {{/each}}
                </ul>
                {{else}}
                    <h6>No hay productos en los carritos.</h6>
                    <a href="">
                        <button>Agregar producto</button>
                    </a>
            {{/if}}

    {{#if isAdmin}}
    {{!-- Las vistas que tengan los usuarios con role 'admin' --}}
        <h2>Panel de administrador</h2>
        <a href="/realtimeproducts">
            <button>Registrar nuevo producto</button>
        </a>
    {{/if}}
    {{else}}
        <h1>Inicia sesión para ver tu perfil</h1>
        <a href="/users/login">Ingresar</a>
    {{/if}}
</div>